*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; } html { font-family: sans-serif; }

* {
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    background-color: black;
}

#wrapper {
    width: 90vw;
    max-width: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.15);
    margin-top: 0;
    min-height: 100vh;
}

.row {
    padding-top: 25px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    text-align: center;
    background-color: black;
    padding: 10px;
    margin: 20px;
    transition: 0.2s;
}

.lightbulb {
    font-size: 10vw;
}

.active {
    background: white;
    transform: scale(1.1);
    box-shadow: 0 0 35px white;
}

.title, .subtitle {
    color: white;
    text-align: center;
}

.title {
    font-size: 4em;
}

.subtitle {
    font-size: 2em;
}